.git
.gitignore
.vs
.vscode
**/bin/
**/obj/
artifacts/
releases/
**/data/config/
**/data/cache/
**/data/library/
**/data/logs/
**/data/tmp/
**/logs/
**/cache/
**/tmp/
*.zip
*.tar
*.tar.gz
*.7z
*.rar
*.cbz
*.cbr
*.pdf
node_modules/
